body {
  font-family: "Open Sans", sans-serif;
}

.bg-navbar {
  background-color: #d1fbfd !important;
}
.fh-100 {
  min-height: 110vh;
}
.fh-80 {
  min-height: 80vh;
}
.w-14 {
  width: 14% !important;
}
.rounded-50 {
  border-radius: 50px;
}
.bg-jumbotron {
  background: linear-gradient(238.97deg, #2046dc 10.24%, #20a4dc 110.98%);
}
.bg-keraguan {
  background: linear-gradient(229.88deg, #20a4dc 14.99%, #2046dc 117.48%);
}
.mt-min-10 {
  padding-top: -100px;
}
.absolut {
  position: absolute;
  top: 300px;
}
.rounded-bawah {
  border-radius: 0px 0px 60px 60px;
}
.rounded-atas {
  border-radius: 60px 60px 0px 0px;
}
.kata-kata {
  font-size: 100px;
  font-weight: 1000;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.text-birugelap {
  color: #2046e6;
}
.text-biruterang {
  color: #20a4dc;
}
.bg-ungu-ingfo {
  background: linear-gradient(12.02deg, #1735bd 60.55%, #d1fbfd 143.1%);
}
.bg-ijo-ingfo {
  background: linear-gradient(44deg, #20dcb6 73.82%, #d1fbfd 130.98%);
}
.bg-oren2-ingfo {
  background: linear-gradient(35.97deg, #f4ad77 69.64%, #d1fbfd 152.56%);
}
.bg-oren-ingfo {
  background: linear-gradient(34.97deg, #ea8a54 61.59%, #d1fbfd 168.78%);
}
.bg-biru-ingfo {
  background: linear-gradient(37.7deg, #20a4dc 65.02%, #d1fbfd 199.34%);
}
.mt-navbar {
  padding-top: 80px;
}
.bg-step {
  background: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 0, 0, 0.2); */
}

@media screen and (max-width: 1000px) {
  #laptop {
    display: none;
  }

  .kata-kata {
    font-size: 10px;
  }
  .rounded-bawah {
    border-radius: 0px 0px 20px 20px;
  }
}
