body {
  font-family: "Open Sans", sans-serif;
}

.bg-navbar {
  background-color: #d1fbfd !important;
}
.fh-10 {
  min-height: 110vh;
}
.fh-80 {
  min-height: 80vh;
}
.w-14 {
  width: 14% !important;
}
.w-90 {
  width: 90% !important;
}
.w-110 {
  width: 140% !important;
}
.rounded-50 {
  border-radius: 50px;
}
.rounded-atas2 {
  border-top: 10px;
}
.bg-jumbotron {
  background: linear-gradient(238.97deg, #2046dc 10.24%, #20a4dc 110.98%);
}
.bg-keraguan {
  background: linear-gradient(229.88deg, #20a4dc 14.99%, #2046dc 117.48%);
}
.mt-min-10 {
  padding-top: -100px;
}
.absolut {
  position: absolute;
  top: 300px;
}
.rounded-bawah {
  border-radius: 0px 0px 60px 60px;
}
.rounded-atas {
  border-radius: 60px 60px 0px 0px;
}
.kata-kata {
  font-size: 100px;
  font-weight: 1000;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.text-birugelap {
  color: #2046e6;
}
.text-biruterang {
  color: #20a4dc;
}
.bg-biruterang {
  background-color: #20a4dc;
}
.bg-footer {
  background: linear-gradient(50.82deg, #2046dc -13.41%, #20a4dc 117.24%);
}
.bg-ungu-ingfo {
  background: linear-gradient(12.02deg, #1735bd 60.55%, #d1fbfd 143.1%);
}
.bg-ijo-ingfo {
  background: linear-gradient(44deg, #20dcb6 73.82%, #d1fbfd 130.98%);
}
.bg-oren2-ingfo {
  background: linear-gradient(35.97deg, #f4ad77 69.64%, #d1fbfd 152.56%);
}
.bg-oren-ingfo {
  background: linear-gradient(34.97deg, #ea8a54 61.59%, #d1fbfd 168.78%);
}
.bg-biru-ingfo {
  background: linear-gradient(37.7deg, #20a4dc 65.02%, #d1fbfd 199.34%);
}
.mt-navbar {
  padding-top: 50px;
}
.bg-step {
  background: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.tombol {
  font-size: 16px;
  border: 3px solid #ffffff;
  color: white;
  font-weight: 500;
}
.tombol-biru {
  font-size: 16px;
  border: 3px solid #1e42d0;
  color: #1e42d0;
  font-weight: 500;
}

.tombol-biru:hover {
  background-color: #1e42d0;
  color: white;
}
.tombol:hover {
  background-color: white;
  color: black;
}
.border-transparan {
  /* border-color: linear-gradient(
    229.88deg,
    #20a4dc 14.99%,
    #2046dc 117.48%
  ) !important; */
  /* border-image: linear-gradient(to right, darkblue, darkorchid) 0.1 !important; */
  border-width: 1px;
  border-style: solid;
  border-color: #ea8a54;
}
.border-ijo {
  border-width: 1px;
  border-style: solid;
  border-color: #20dcb6;
}
.text-birugelap {
  color: #2046dc;
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #laptop {
    display: none;
  }

  .kata-kata {
    font-size: 10px;
  }
  .rounded-bawah {
    border-radius: 0px 0px 20px 20px;
  }
  #logonavbar {
    display: none;
  }
  #IDM {
    display: none;
  }
  #guruPrivat {
    display: none;
  }
  #toa {
    display: none;
  }
}
